<section
  class="task-section"
  aria-label="Task form"
>
  <div
    class="task-section-content"
    [ngClass]="{
      'edit-dialog-class': isEditTaskDialog,
      'add-dialog-class': isAddTaskDialog
    }"
  >
    @if (!taskDataService.editModeActive) {
      <h2>
        Add Task
      </h2>
    } @else {
      <button
        class="task-edit-close"
        type="button"
        (click)="closeIfDialog()"
        aria-label="Close edit task dialog"
      >
        &#10005;
      </button>
    }

    <form
      class="task-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="task-scroll-container">
        <div class="task-form-wrapper">
          <app-task-overview [taskData]="taskData">
          </app-task-overview>

          <div class="vertical-divider">
          </div>

          <app-task-details
            class="task-details"
            [taskDataInput]="taskData"
          >
          </app-task-details>
        </div>
      </div>

      <div
        class="footnote"
        [style.padding]="taskDataService.editModeActive ? '15px 0 0 0' : ''"
      >
        <p>
          <span>
            *
          </span>
          This field is required
        </p>

        <div class="button-wrapper">
          @if (!taskDataService.editModeActive) {
            <button
              class="button-cancel"
              type="button"
              (click)="closeIfDialog(); clearForm(); setFormResetSignals();"
              active=""
            >
              @if (!taskDataService.editModeActive && !isAddTaskDialog) {
                Clear
              } @else {
                Cancel
              }
              <span class="icon">
              </span>
            </button>
          }
          <button
            class="button-save"
            type="submit"
            [disabled]="formInvalid"
            [class.disabled]="formInvalid"
          >
            @if (taskDataService.editModeActive) {
              OK
            } @else {
              Create Task
              @if (!formInvalid) {
                <img
                  src="./assets/icons/kanban/check_white.svg"
                  alt=""
                  aria-hidden="true"
                />
              }
            }
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
